<h1><%= _("Serpro's Captcha Management") %> </h1>

<%= labelled_form_for(:environment, :url => {:action => 'update'}) do |f| %>

<table>
  <tr>
    <th><%= c_('Configuration') %></th>
    <th><%= _('Value') %></th>
  </tr>
  <tr>
    <td><%= _('Verify URI') %></td>
    <td><%= text_field :environment, :serpro_captcha_verify_uri %></td>
  </tr>
  <tr>
    <td><%= _('Client Id') %></td>
    <td><%= text_field :environment, :serpro_captcha_client_id %></td>
  </tr>
</table>


<div>
  <% button_bar do %>
    <%= submit_button('save', c_('Save changes')) %>
    <%= button :back, _('Back to plugins administration panel'), :controller => 'plugins' %>
  <% end %>
</div>

<% end %>
